<%- include('./partials/header') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css"></link>

    <h1 style="margin-top:50px; color:black;font-weight:bold;">AatmaNiti's Members</h1>

    <div class="main">
        <ul class="cards">
            <% users.forEach(function(user){ %>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="<%= user.image %>"></div>
                        <div class="card_content">
                            <h2 class="card_title">
                                <%= user.firstName %>
                                    <%= user.lastName %>
                            </h2>
                            <p class="card_text">| Place:
                                <%= user.city %> | Phone No.:
                                    <%= user.phone %> | <br>| Email Address:
                                        <%= user.email %> |</p>
                            <a href="/user/<%= user._id %>"><button class="btn card_btn">More Info</button></a>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>
    <%- include('./partials/footer') %>